

/*@font-face {
    font-family: "HelveticaNeueLTW20";
    font-weight: bold;
    src: url(Fonts/new/045ca244-a42a-4d4f-bc08-b0f4f54df3cc.eot?iefix);
    src: url(Fonts/new/929f7332-2da4-4512-8f53-a056ed366167.woff) format("woff"), 
        url(Fonts/new/a9fc3a1c-4466-47f7-b408-5bcf52129409.ttf) format("truetype"),
        url(Fonts/new/27d196fc-66d6-4630-a928-d8127601c243.svg#27d196fc-66d6-4630-a928-d8127601c243) format("svg")
}

@font-face {
    font-family: "bader";
    src: url("fonts/bader_al_gorthabia.eot"); /* IE 9 */
    src: url("fonts/bader_al_gorthabia.eot?") format("eot"), /* IE 6-8 */
    url("fonts/bader_al_gorthabia.otf") format("opentype"), /* Other browsers */
    url("fonts/bader_al_gorthabia.ttf") format("truetype"); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}*/

